<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
    <meta charset="UTF-8">
    <title>Login page</title>
</head>
<body>
    <div th:insert="~{common :: header}"></div>
    <div class="login-form" style="font-family: Source Sans Pro; font-style: normal; font-weight: normal; line-height: 25px; font-size: 14px; padding-left: 14px;">
        <br/>
        <div>
            <span><strong>Current token status: </strong></span>
            <span th:text="${token}">Your token</span>
        </div>
        <div>
            <form th:method="GET" th:action="@{/profile/me}">
                <input type="submit" value="My Profile"/>
            </form>
        </div>
        <div>
            <form th:method="GET" th:action="@{/projects/key}">
                <input type="submit" value="Projects"/>
            </form>
        </div>
        <div>
            <form action="javascript:history.back()">
                <button>Get back</button>
            </form>
        </div>
        <br/>
    </div>
    <div th:insert="~{common :: footer}"></div>
</body>
</html>
